.title {
    background-color: blue;
    color: white;
    text-align: center;
}

.search {
    float: center;
}


#currentCity {
    text-align: left;
    font-size: 80px;
    margin-left: 10px;
    margin-top: -25px;
    overflow: hidden;
}

p {
    font-size: 25px;
    margin-left: 15px;
}